@use "../../../assets/partial_mixins/flex-mixin" as *;
@use "../../../assets/partial_mixins/button-mixin" as *;

body {
  background-color: transparent;
}

.header {
  @include center;
  margin: 1rem 0 2rem 0;

  &__button {
    display: flex;
    gap: 1rem;
    button {
      @include nz-button;
      @include primary-button;
    }
  }

  &__search {
    .ant-input-affix-wrapper {
      width: 20vw;
    }
  }
}

/* head of table */
::ng-deep .ant-table-thead > tr > th {
  background-color: rgb(#1d8c56, 0.2);
  font-size: 1rem;
}

.certificat__button {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
