@use "../../../assets/partial_mixins/flex-mixin" as *;
@use "../../../assets/partial_mixins/button-mixin" as *;

body {
  background-color: transparent;
}

.header {
  @include row-between;
  margin: 1rem 0 2rem 0;

  &__button {
    display: flex;
    gap: 1rem;
    button {
      @include nz-button;
      @include primary-button;
    }
  }

  &__search {
    .ant-input-affix-wrapper {
      width: 20vw;
    }
  }
}

/* head of table */
::ng-deep .ant-table-thead > tr > th {
  background-color: rgb(#1d8c56, 0.2);
  font-size: 1rem;
}

/* select categorie */
.select__elem {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 0.5rem 0.5rem 0.5rem;

  button {
    @include button;
    @include primary-button;
    padding: 0.3rem 0.5rem;
  }
}
