<body>
  <div class="header">
    <div class="header__button">
      <button nz-button (click)="UaddModal = true">
        Ajouter un nouvel utilisateur
      </button>
      <button nz-button nzType="primary" (click)="importModal = true">
        Importer une liste d'utilisateurs via Excel
      </button>
    </div>

    <div class="header__search">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Rechercher un utilisateur" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
  </div>

  <div class="content">
    <nz-skeleton [nzActive]="skeleton" *ngIf="skeleton"></nz-skeleton>

    <div *ngIf="!skeleton">
      <div>
        <nz-table #basicTable [nzData]="dataSet" [nzPageSize]="6">
          <thead>
            <tr>
              <th>Prenom(s)</th>
              <th>Nom de famille</th>
              <th>E-mail</th>
              <th>Téléphone</th>
              <th>Groupe</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.first_name }}</td>
              <td>{{ data.last_name }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.phone_number }}</td>
              <td>
                <!-- {{ data.entity.name }} -->
                Nekomat
              </td>
              <td>
                <div class="content__button">
                  <button nz-button>Modifier</button>
                  <button nz-button>Voir le groupe</button>
                  <button nz-button>Supprimer</button>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="UaddModal"
    nzTitle="Ajouter un nouvel utilisateur"
    (nzOnCancel)="UCancel()"
    (nzOnOk)="UOk()"
    nzOkText="Ajouter l'utilisateur"
    nzCancelText="Annuler"
    [nzOkDisabled]="!addForm.valid"
    [nzOkLoading]="loader"
  >
    <ng-container *nzModalContent>
      <form class="form" [formGroup]="addForm">
        <div class="form__content">
          <div class="form__elem">
            <p>Prénom(s)</p>
            <input
              nz-input
              formControlName="first_name"
              type="text"
              placeholder="Entrer le prénom de l'utilisateur"
            />
          </div>
          <div class="form__elem">
            <p>Nom de famille</p>
            <input
              nz-input
              formControlName="last_name"
              type="text"
              placeholder="Entrer le nom de famille de l'utilisateur"
            />
          </div>
          <div class="form__elem">
            <p>Adresse E-mail</p>
            <input
              nz-input
              formControlName="email"
              type="text"
              placeholder="Entrer l'adresse E-mail"
            />
          </div>
          <div class="form__elem">
            <p>Numéro de téléphone</p>
            <input
              nz-input
              formControlName="phone_number"
              type="text"
              placeholder="Entrer le numéro de téléphone"
            />
          </div>
          <div class="form__elem form__elem--select">
            <p>Groupe</p>
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="choisir un groupe"
              formControlName="entityId"
            >
              <nz-option
                *ngFor="let data of allEntity"
                nzLabel="{{ data.name }}"
                nzValue="{{ data.id }}"
              ></nz-option>
            </nz-select>
          </div>
        </div>
      </form>
    </ng-container>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="importModal"
    nzTitle="Import d'utilisateur en groupe"
    (nzOnCancel)="handleCancelImport()"
    (nzOnOk)="handleOkImport()"
    nzOkText="Importer"
    nzCancelText="Annuler"
    [nzOkLoading]="loader2"
  >
    <ng-container *nzModalContent>
      <div class="form__content">
        <div class="form__elem form__elem--select">
          <p>Groupe</p>
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="choisir le groupe"
            [(ngModel)]="entityId"
          >
            <nz-option
              *ngFor="let data of allEntity"
              nzLabel="{{ data.name }}"
              nzValue="{{ data.id }}"
            ></nz-option>
          </nz-select>
        </div>
        <div class="form__elem">
          <p>Charger le fichier excel</p>
          <input
            type="file"
            (change)="handleChangeImport($event)"
            class="form-control"
          />
        </div>
      </div>
    </ng-container>
  </nz-modal>
</body>
