
<div class="n-container">
  <div class="calc-vert">

  

 
   <div class="content">
      
      
       <div class="text-container">
          <div class="text-entete">
            <h1 class="titre" style="color: #fff; max-width: 100%;">Rénitialisation !</h1>
          </div>
          
          
          <div style="margin-top: 2.5rem;">
            <form [formGroup]="resetForm">
                <input class="n-input" nz-input type="text" formControlName="oldPassword" placeholder="Ancien mot de passe "> 
        
                <nz-input-group  style="background: transparent; color: #fff; border: none; border-bottom: 1px solid #fff;" [nzSuffix]="suffixTemplate">
                    <input
                    class="all-input"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="Nouveau mot de passe"
                      formControlName="newPassword"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span
                    style="color: #fff;"
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>
        
        
                  <nz-input-group style="background: transparent; color: #fff; border: none; border-bottom: 1px solid #fff; margin-top: 1rem;" [nzSuffix]="suffixTemplate">
                    <input
                    class="all-input"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="confirmer le mot de passe"
                      formControlName="confirmPassword"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>
            </form>
            <button class="btn-secondary" style="margin-top: 2rem;" nz-button nzType="primary" (click)="changePassword()" [disabled]="!resetForm.valid" [nzLoading]="loader" > Changer le mot de passe </button>
        </div>
          </div>
          <!-- <div class="animation-container">
          
            <div class="cercle-1">
                <div class="cercle-2"></div>
            </div>
            
        </div> -->
          </div>
      
  </div>
</div>

  <footer>
      © 2024 Plateforme de formation - CNT | République de Guinée 
  </footer>


