<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <main>
        <div class="first">
          <div class="first-content">
            <div class="content-logo animate__animated animate__slideInLeft">
              <a href="#"
                ><img src="../../../assets/logocerfop.webp" alt="logo cerfop"
              /></a>
            </div>

            <h1>
              Plateforme de
              <span class="particular-secondary">formation</span> parlementaire
            </h1>

            <p class="animate__animated animate__slideInUp">
              <span>&#xa9; </span> 2024 CERFOP | CNT - République de Guinée
            </p>
          </div>
        </div>
        <div class="form">
          <a routerLink="/" class="back">
            <i class="fa-solid fa-arrow-left"></i>
            <p>Retourner</p>
          </a>
          <div class="div-logo">
            <a href="#"
              ><img src="../../../assets/logocerfop.webp" alt="logo cerfop"
            /></a>
          </div>
          <div class="form-content">
            <div class="form-content-title">
              <h2>Rénitialisation</h2>
              <p>
                du mot de passe de <br />
                mon portail de formation
              </p>
            </div>

            <form nz-form [formGroup]="resetForm">
              <!-- Ancien mot de passe -->
              <nz-form-item>
                <nz-form-control
                  nzErrorTip="Veuillez saisir un mot de passe valide !"
                >
                  <nz-input-group
                    class="custom-input-group custom-suffix-icon"
                    nzPrefixIcon="lock"
                    [nzSuffix]="suffixTemplate"
                  >
                    <input
                      class="n-input"
                      nz-input
                      type="text"
                      formControlName="oldPassword"
                      placeholder="Ancien mot de passe"
                      [type]="passwordVisible ? 'text' : 'password'"
                    />
                  </nz-input-group>
                </nz-form-control>
                <ng-template #suffixTemplate>
                  <span
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                    class="custom-suffix-icon"
                  ></span>
                </ng-template>
              </nz-form-item>

              <!-- Nouveau mot de passe -->

              <nz-form-item>
                <nz-form-control
                  nzErrorTip="Veuillez saisir un mot de passe valide !"
                >
                  <nz-input-group
                    class="custom-input-group custom-suffix-icon"
                    nzPrefixIcon="lock"
                    [nzSuffix]="suffixTemplate"
                  >
                    <input
                      class="all-input"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="Nouveau mot de passe"
                      formControlName="newPassword"
                    />
                  </nz-input-group>
                </nz-form-control>
                <ng-template #suffixTemplate>
                  <span
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                    class="custom-suffix-icon"
                  ></span>
                </ng-template>
              </nz-form-item>

              <!-- Confirmer le nouveau mot de passe -->
              <nz-form-item>
                <nz-form-control
                  nzErrorTip="Veuillez saisir un mot de passe valide !"
                >
                  <nz-input-group
                    class="custom-input-group custom-suffix-icon"
                    nzPrefixIcon="lock"
                    [nzSuffix]="suffixTemplate"
                  >
                    <input
                      class="all-input"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="Confirmer le nouveau mot de passe"
                      formControlName="confirmPassword"
                    />
                  </nz-input-group>
                </nz-form-control>
                <ng-template #suffixTemplate>
                  <span
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                    class="custom-suffix-icon"
                  ></span>
                </ng-template>
              </nz-form-item>

              <div nz-row></div>
              <div class="div-button">
                <button
                  class="login-form-button"
                  nz-button
                  nzType="primary"
                  [disabled]="!resetForm.valid"
                  [nzLoading]="loader"
                  (click)="changePassword()"
                >
                  Changer mon mot de passe
                  <i class="fa-solid fa-rotate"></i>
                  <span class="inner">
                    <span class="blobs">
                      <span class="blob"></span>
                      <span class="blob"></span>
                      <span class="blob"></span>

                      <span class="blob"></span>
                    </span>
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                      <filter id="goo">
                        <feGaussianBlur
                          in="SourceGraphic"
                          result="blur"
                          stdDeviation="10"
                        ></feGaussianBlur>
                        <feColorMatrix
                          in="blur"
                          mode="matrix"
                          values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                          result="goo"
                        ></feColorMatrix>
                        <feBlend
                          in2="goo"
                          in="SourceGraphic"
                          result="mix"
                        ></feBlend>
                      </filter>
                    </defs>
                  </svg>
                </button>
              </div>
            </form>

            <!-- <hr />

            <p class="animate__animated animate__slideInDown">
              Utilisez des mots de passe forts afin d
              
            </p> -->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>

<!-- 
<div class="n-container">
  <div class="calc-vert">

  

 
   <div class="content">
      
      
       <div class="text-container">
          <div class="text-entete">
            <h1 class="titre" style="color: #fff; max-width: 100%;">Rénitialisation !</h1>
          </div>
          
          
          <div style="margin-top: 2.5rem;">
            <form [formGroup]="resetForm">
                <input class="n-input" nz-input type="text" formControlName="oldPassword" placeholder="Ancien mot de passe "> 
        
                <nz-input-group  style="background: transparent; color: #fff; border: none; border-bottom: 1px solid #fff;" [nzSuffix]="suffixTemplate">
                    <input
                    class="all-input"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="Nouveau mot de passe"
                      formControlName="newPassword"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span
                    style="color: #fff;"
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>
        
        
                  <nz-input-group style="background: transparent; color: #fff; border: none; border-bottom: 1px solid #fff; margin-top: 1rem;" [nzSuffix]="suffixTemplate">
                    <input
                    class="all-input"
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="confirmer le mot de passe"
                      formControlName="confirmPassword"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>
            </form>
            <button class="btn-secondary" style="margin-top: 2rem;" nz-button nzType="primary" (click)="changePassword()" [disabled]="!resetForm.valid" [nzLoading]="loader" > Changer le mot de passe </button>
        </div>
          </div>
           <div class="animation-container">
          
            <div class="cercle-1">
                <div class="cercle-2"></div>
            </div>
            
        </div> 
          </div>
      
  </div>
</div>

  <footer>
      © 2024 Plateforme de formation - CNT | République de Guinée 
  </footer>

 -->
