<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
       

    <header>
         <!-- <div class="logo-container">
            <img src="" alt="">
            <img src="" alt="">
        </div>  -->

    </header>
    <div class="content">
        <div class="text-container">
            <p class="titre">Plateforme
                de renforcement de Capacité</p>

            <button style="cursor: pointer;" routerLink="/signin" >
                <h5  class="color-primary">Accéder à mon portail</h5>
            </button>

            <p class="sous-titre">Accéder à votre portail pour suivre des formation ...</p>
        </div>
        <div class="animation-container">
            
            <div class="cercle-1">
                <div class="cercle-2"></div>
            </div>
            
        </div>
    </div>
    <footer>
        © 2024 Plateforme de formation - CNT | République de Guinée 
    </footer>
</div>
</body>
</html>
