  <nz-skeleton [nzActive]="sekeleton" *ngIf="sekeleton"></nz-skeleton> 
 
 <div *ngIf="!sekeleton">
    <nz-table #basicTable [nzData]="dataSet">
        <thead>
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th> Email </th>
            <th>Numero de telephone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td> {{data.phone_number}} </td>
            <td>
              <button nz-button nzType="primary"> Detail</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
 </div>

