
 <div>
    <button nz-button nzType="primary" routerLink="/admin_portail/add_course">Ajouter un cours</button>
 </div>

<div class="card-cours" *ngIf="skeleton==false">
<nz-card *ngFor="let cour of coursList" nzHoverable class="cours" style="width:240px; border-radius: 0.5rem;">
  <img alt="cours-leadership" src="{{cour.photo}}"/>
    <nz-card-meta nzTitle=" {{cour.name}} " nzDescription="{{cour.description}}"></nz-card-meta> 
  </nz-card>
</div>

<nz-skeleton [nzActive]="true" *ngIf="skeleton" ></nz-skeleton> 