@import "../../../assets/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

.body {
  &-content {
    @include center;
    flex-direction: column;
    &-elem {
      @include row-between;
      margin-bottom: 1rem;
      width: 90%;

      .buttons {
        display: flex;
        gap: 1rem;

        button {
          background-color: var(--primary);
          outline: none;
          color: white;
          border: none;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: var(--secondary);
          }
        }
      }
    }

    @media (min-width: 1000px) and (max-width: 1200px) {
      .scale {
        transform: scale(0.5);
        transform-origin: top;
      }
    }

    @media (max-width: 999px) {
      .scale {
        transform: scale(0.4);
        transform-origin: top;
      }
    }

    .scale-1 {
      transform: scale(1) !important;
    }

    &-certificat {
      @include certificat;
    }
  }
}
