<nz-layout class="body">
  <nz-sider
    [nzCollapsed]="isCollapsed"
    nzCollapsible
    nzWidth="250px"
    nzTheme="light"
    class="body-sidebar"
  >
    <div class="body-sidebar-logo" routerLink="/admin_portail/home">
      <img src="../../../assets/favicon-logo-cerfop.webp" alt="logo cerfop" />
      <span nz-icon>monPortail</span>
    </div>

    <ul class="body-sidebar-content" nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin_portail/home">
        <span nz-icon><i class="fa-solid fa-house"></i></span>
        <span>Accueil</span>
      </li>
      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/organisation"
      >
        <span nz-icon><i class="fa-solid fa-users"></i></span>
        <span>Groupes</span>
      </li>
      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/utilisateurs"
      >
        <span nz-icon><i class="fa-solid fa-user"></i></span>
        <span>Utilisateurs</span>
      </li>

      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/liste_cours"
      >
        <span nz-icon><i class="fa-solid fa-book-open-reader"></i></span>
        <span>Formations</span>
      </li>
      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/events"
      >
        <span nz-icon><i class="fa-solid fa-calendar-days"></i></span>
        <span>Événements</span>
      </li>

      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/certificats"
      >
        <span nz-icon><i class="fa-solid fa-award"></i></span>
        <span>Certificats</span>
      </li>
      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/bibliotheque"
      >
        <span nz-icon><i class="fa-solid fa-book"></i></span>
        <span>Bibliothèque</span>
      </li>
      <li
        nz-menu-item
        [nzMatchRouter]="true"
        routerLink="/admin_portail/mon-compte"
      >
        <span nz-icon><i class="fa-solid fa-gear"></i></span>
        <span>Mon compte</span>
      </li>

      <li nz-menu-item routerLink="/" class="disconnect">
        <span nz-icon><i class="fa-solid fa-right-from-bracket"></i></span>
        <span>Se deconnecter</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="body-content">
    <nz-header id="stickyHeader" class="body-content-header sticky-header">
      <div class="button-menu-and-name">
        <span class="menu-button" (click)="toggleCollapse()">
          <span *ngIf="isCollapsed" class="menu-button-reduced"
            ><i class="fa-solid fa-bars"></i
          ></span>
          <span *ngIf="!isCollapsed" class="menu-button-opened"
            ><i class="fa-solid fa-bars"></i
          ></span>
        </span>

        <div class="name">
          <h2>
            Bonjour
            <span class="last-name">SAGNO</span>
            (Admin)
          </h2>
        </div>
      </div>

      <div class="icon">
        <!-- add user -->
        <span class="icon-award" routerLink="/admin_portail/utilisateurs">
          <i class="fa-solid fa-user-plus"></i>
        </span>
        <!-- events -->
        <span class="icon-award" routerLink="/admin_portail/events">
          <i class="fa-solid fa-calendar-days"></i>
        </span>

        <!-- groupe -->
        <span class="icon-setting" routerLink="/admin_portail/organisation">
          <i class="fa-solid fa-users"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet />
    </nz-content>
    <nz-footer>&#64; 2024 CERFOP | CNT - République de Guinée</nz-footer>
  </nz-layout>
</nz-layout>
