<div class="body">
  <nz-tabset class="body-content" [nzTabBarExtraContent]="extraTemplate">
    <nz-tab class="" nzTitle="Tout (4)">
      <div *ngif="false" class="empty">
        <p>Il n'y a aucun document ajouté pour le moment ! Revenez plus tard</p>
      </div>

      <div class="body-content-tab">
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <img src="../../../assets/pdf-image.webp" alt="" />
            <h5>
              L /2022 /0016/ CNT PORTANT LOI DE FINANCES POUR L’ANNEE 2023
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <img src="../../../assets/pdf-image.webp" alt="" />
            <h5>
              L /2022 /0016/ CNT PORTANT LOI DE FINANCES POUR L’ANNEE 2023
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <div><img src="../../../assets/pdf-image.webp" alt="" /></div>
            <h5>
              LOI ORDINAIRE L/2022/007/CNT PORTANT AUTORISATION DE RATIFICATION
              DE L’ACCORD DE LIGNE DE FINANCEMENT D’OPERATIONS D’IMPORTATION DE
              BIEN EN PROVENANCE DES PAYS ARABES ENTRE LA BANQUE ARABE POUR LE
              DEVELOPPEMENT ECONOMIQUE EN AFRIQUE BADEA ET LA REPLIQUE DE GUINEE
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <img src="../../../assets/pdf-image.webp" alt="" />
            <h5>
              L /2022 /0016/ CNT PORTANT LOI DE FINANCES POUR L’ANNEE 2023
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Textes et Lois adoptés (4)">
      <div *ngIf="false" class="empty">
        <p>Il n'y a aucun document ajouté pour le moment ! Revenez plus tard</p>
      </div>

      <div class="body-content-tab">
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <img src="../../../assets/pdf-image.webp" alt="" />
            <h5>
              L /2022 /0016/ CNT PORTANT LOI DE FINANCES POUR L’ANNEE 2023
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <img src="../../../assets/pdf-image.webp" alt="" />
            <h5>
              L /2022 /0016/ CNT PORTANT LOI DE FINANCES POUR L’ANNEE 2023
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <div><img src="../../../assets/pdf-image.webp" alt="" /></div>
            <h5>
              LOI ORDINAIRE L/2022/007/CNT PORTANT AUTORISATION DE RATIFICATION
              DE L’ACCORD DE LIGNE DE FINANCEMENT D’OPERATIONS D’IMPORTATION DE
              BIEN EN PROVENANCE DES PAYS ARABES ENTRE LA BANQUE ARABE POUR LE
              DEVELOPPEMENT ECONOMIQUE EN AFRIQUE BADEA ET LA REPLIQUE DE GUINEE
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
        <!-- card -->
        <div class="body-content-tab-card">
          <div class="body-content-tab-card-head">
            <img src="../../../assets/pdf-image.webp" alt="" />
            <h5>
              L /2022 /0016/ CNT PORTANT LOI DE FINANCES POUR L’ANNEE 2023
            </h5>
          </div>

          <div class="body-content-tab-card-content">
            <!-- <p>Type : Document</p> -->
            <p>Ajouté le <span>12/07/2024</span></p>
            <p><span>Catégorie</span> : Textes et lois adoptés</p>
          </div>

          <div class="body-content-tab-card-footer">
            <button>
              Télécharger
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Lexique parlementaire (0)">
      <div class="empty">
        <p>Il n'y a aucun document ajouté pour le moment ! Revenez plus tard</p>
      </div>

      <div class="body-content-tab"></div>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate> </ng-template>
</div>
