<div class="body">
  <div class="body-content">
    <div *ngIf="false" class="empty">
      <p>Aucun certificat obtenu pour le moment</p>
    </div>

    <!-- card -->
    <div class="body-content-card">
      <div class="body-content-card-head">
        <h4>Comprendre le processus législatif</h4>
      </div>

      <div class="body-content-card-content">
        <p>Durée : 6 heures 30 min</p>
        <p>Date : 21 / 07 / 2024</p>
      </div>

      <div class="body-content-card-footer">
        <button>
          <i class="fa-solid fa-download"></i>
          Télécharger
        </button>
        <button routerLink="/user_portail/certi">
          Voir
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
    </div>
    <!-- card -->
    <div class="body-content-card">
      <div class="body-content-card-head">
        <h4>Éthique et Transparence dans le Service Public</h4>
      </div>

      <div class="body-content-card-content">
        <p>Durée : 6 heures 30 min</p>
        <p>Date : 21 / 07 / 2024</p>
      </div>

      <div class="body-content-card-footer">
        <button>
          <i class="fa-solid fa-download"></i>
          Télécharger
        </button>
        <button routerLink="/user_portail/certi">
          Voir
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
    </div>
    <!-- card -->
    <div class="body-content-card">
      <div class="body-content-card-head">
        <h4>Engagement Communautaire et Participation Citoyenne</h4>
      </div>

      <div class="body-content-card-content">
        <p>Durée : 6 heures 30 min</p>
        <p>Date : 21 / 07 / 2024</p>
      </div>

      <div class="body-content-card-footer">
        <button>
          <i class="fa-solid fa-download"></i>
          Télécharger
        </button>
        <button routerLink="/user_portail/certi">
          Voir
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
    </div>
    <!-- card -->
    <div class="body-content-card">
      <div class="body-content-card-head">
        <h4>Engagement Communautaire et Participation Citoyenne</h4>
      </div>

      <div class="body-content-card-content">
        <p>Durée : 6 heures 30 min</p>
        <p>Date : 21 / 07 / 2024</p>
      </div>

      <div class="body-content-card-footer">
        <button>
          <i class="fa-solid fa-download"></i>
          Télécharger
        </button>
        <button routerLink="/user_portail/certi">
          Voir
          <i class="fa-solid fa-eye"></i>
        </button>
      </div>
    </div>
  </div>
</div>
