@import "../../../assets/mixins.scss";

.body {
  &-content {
    @include grid-list(25rem);
    padding-right: 1rem;

    &-card {
      background-color: white;
      border-radius: 0.5rem;

      text-align: center;
      @include column-between;

      &:hover {
        .body-content-card-head {
          background-color: var(--primary);

          h4 {
            color: white;
            transform: scale(1.05);

            transition: all 0.5s ease-in-out;
          }

          transition: all 0.5s ease-in-out;
        }
      }

      &-head {
        background-color: rgb(#1d8c56, 0.2);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding: 2rem 1rem;
      }

      &-content {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.2rem;
        margin: 2rem 0;
      }

      &-footer {
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        button {
          border: none;
          height: 3rem;
          @include center;
          gap: 0.4rem;
          font-size: 1.2rem;
          color: black;
          border-top: 2px solid rgb(#1d8c56, 0.2);

          i {
            opacity: 0;
            width: 0;
            color: white;
          }

          &:hover {
            background-color: var(--primary) !important;
            color: white;
            i {
              opacity: 1;
              width: auto;

              transition: all 0.3s ease;
            }
          }

          &:first-child {
            border-bottom-left-radius: 0.5rem;
            background-color: white;
            border-right: 2px solid rgb(#1d8c56, 0.2);
          }

          &:last-child {
            border-bottom-right-radius: 0.5rem;

            background-color: white;
          }
        }
      }
    }
  }
}
