
<div class="tous-module">
    <h4 style="justify-self: left;">Formations <span style="color: #1D8C56; font-weight: bold;">  Terminées(3)</span></h4>
  


<div class="card-term">
    <nz-card *ngFor="let i of [1,2,3,4]" nzHoverable class="cours" style=" flex-direction: row; background: #1D8C56; width:20rem; border-radius: 0.5rem;" [nzCover]="coverTemplate">

      <div class="mon-content">

    
        <nz-card-meta style="height: 6.5rem; max-height: 100%;" nzTitle="Devenir un Leader dans votre milieu de travail" nzDescription="Apprenez a devenir le leader dont votre equipe a besoin pour diriger "></nz-card-meta>
  
        <button style="background-color: #fff; color: #1D8C56; display: flex; width: fit-content; align-items: center;"  nz-button nzType="primary">
          Terminé
        </button>
    </div>
      </nz-card>
      <ng-template #coverTemplate>
        
      </ng-template>
    
    </div>

    <h4 style="justify-self: left;">Formations <span style="color: #1D8C56; font-weight: bold;">  en Cours(3)</span></h4>

<div class="card-cours">
    <nz-card *ngFor="let i of [1,2,3,4]" nzHoverable class="cours" style="width:30%; min-width: 16rem; border-radius: 0.5rem;" [nzCover]="coverTemplate">

      <div class="mon-content">

    
        <nz-card-meta style="height: 6.5rem; max-height: 100%;" nzTitle="Devenir un Leader dans votre milieu de travail" nzDescription="Apprenez a devenir le leader dont votre equipe a besoin pour diriger "></nz-card-meta>
  
        <button style="display: flex; width: fit-content; align-items: center;"  nz-button nzType="primary">
          <span nz-icon nzType="right" nzTheme="outline"></span>
          Continuer
        </button>
    </div>
      </nz-card>
      <ng-template #coverTemplate>
        
      </ng-template>
    
    </div>
</div>
