<div class="card-cours" *ngIf="skeleton==false">
  <nz-card  *ngFor="let i of allCours" nzHoverable class="cours" style="width:30%; border-radius: 0.5rem;" [nzCover]="coverTemplate">
    
    <div class="image">
      <div class="timing">
        <p> {{i.duree}} </p>
      </div>
      <img alt="cours-leadership" src="{{i.photo}}" />
    </div>
      <nz-card-meta style="height: 6.5rem; max-height: 100%; margin-top: 1rem;" nzTitle="{{i.name}}" nzDescription="{{i.description}}"></nz-card-meta>

      <button (click)="addCours(i)" [nzLoading]="i.loader" style="display: flex; align-items: center;"  nz-button nzType="primary">
        <span nz-icon nzType="right" nzTheme="outline"></span>
        Suivre
      </button>
    </nz-card>
    <ng-template #coverTemplate>
      
    </ng-template> 
  </div>

  <nz-skeleton *ngIf="skeleton" [nzActive]="true"></nz-skeleton> 
  