@import "../../../assets/mixins.scss";

.body {
  &-content {
    .empty {
      color: var(--primary);
    }

    .custom-search-container {
      .ant-input-affix-wrapper {
        width: 20rem;
      }

      i {
        font-size: 1.2rem;
      }
    }

    &-tabs {
      &-formations {
        &-content {
          padding-top: 1rem;
          padding-bottom: 2rem;
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
          grid-auto-flow: auto;
          padding-right: 2rem;

          gap: 3rem;

          @include formation-card-terminee;

          &-card {
            @include formation-card;
          }
        }
      }
    }
  }
}
