<div class="body">
  <div class="body-content">
    <div class="body-content-events-content">
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Atelier</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Législation et les politiques publiques</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>

      <!-- event -->
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Forum</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Développement Durable et l'Environnement</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>

      <!-- event -->
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Colloque</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Économie et les Finances Publiques</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Atelier</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Diplomatie et les Relations Internationales</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>

      <!-- event -->
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Conférence</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Santé Publique et le Bien-être</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Séminaire</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Participation Citoyenne et l'Engagement Communautaire</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>

      <!-- event -->
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Atelier</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Législation et les politiques publiques</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Atelier</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Législation et les politiques publiques</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>

      <!-- event -->
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Seminaire</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Gouvernance et la Transparence</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 h</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>
      <div class="body-content-events-content-card">
        <div class="body-content-events-content-card-head">
          <div class="body-content-events-content-card-head-type">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Conférence</p>
          </div>
        </div>
        <div class="body-content-events-content-card-body">
          <h5>Conférence sur la Sécurité et la Défense</h5>
          <p>Date : 15 / 07 / 2024</p>
          <p>Durée : 2 jours</p>
          <p>Lieu : Palais du congrès, Conakry</p>
        </div>
      </div>
    </div>
  </div>
</div>
